<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Banking Portal</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    </head>
    <body>
        <div id="header"></div>
        <header>
            <div class="app_parent_container">
                <strong><nav>
                    <ul class="nav_list">
                        <li><a href="{{ url_for('welcome') }}">Welcome</a></li>
                        <li><a href="{{ url_for('signup') }}">Signup</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js')}}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block content %}
        {% endblock %}
    </body>
</html>
